<html>
    <head>
        <title>
                Welcome to Pharmeasy
        </title>
        <link rel="icon" href="images.ico" type="image/icon type">
        <link rel="stylesheet" type="text/css" href="assets/homestyle.css">
 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    </head>
    <body>

<div id="sidebar" class="collapsed">
        <div id="second">
           <font size=4px> MY ACCOUNT</font><br>
            <br>
            <div class="container">
                <img src="/assets/red.jpg" alt="ACCOUNT">
                <button class="btn"></button>
                <br><br>
               
              </div>
            </div>
            <div id="third">
            <a href="history">Order History</a>
            <a href="mailto:mandeep.99@yahoo.com?Subject=Hello%20again" target="_top">Feedback</a>
            <a id="contbt" href="#">Contact</a>
            <p  style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 30px;" id="cont">Email-ukanna@gmail.com <br><br>
            Helpline- <br> 9717318906
            </p>
            <a href="thank">Log Out</a>
          </div></div>
<div id="content">
        
        <ul>
                <li>
                <a id="unique" class="btn" ><img src="/assets/home.png" width="30px" height="30px"></a></li>
                <li id="para0" style="font-family:Brush Script MT, Brush Script Std, cursive; padding: 18px 10px 15px 600px; color:aliceblue;">
                    Pharmeasy at your door
                </li>
                <li style="float:right"><a  href="#cart"><img src="/assets/shoppingcart.png" width="30px" height="30px" onclick="window.location.href='/cart'"></a></li>
              </ul><br><br>

 
 
    <button type="button" class="block " onclick="window.location.href='/orderg'">
            <img class="imageonly" src="assets/shopping.jpg" width="35px" height="35px">
    <p class="para"><font size=5px>General Store</font> <br>
     Search and order Gerneral products.
    </p>

    
    </p><br><br><br>
    <p id="para2">
        15% Discount on medicines and<br>
        20% Discount on general products.
    </p>
</div>
</body>

</html>