<!DOCTYPE html>
<html>
<head>
<title>Sign-Up Form</title>
<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
<div class="div1">
<h1 align="center"> Welcome to Pharmeasy</h1>
<div class="div2">
<form method="post" action="home" name="form1" align="center" >
<h1>Sign-Up</h1>
<label>
<b>First Name</b><br><br>
<input type="text" name="first" maxlength="25" size="25" placeholder="First" id="first">
</label><br><br>
<label>
<b>Last Name</b><br><br>
<input type="text" name="last" maxlength="25" size="25" placeholder="Last" id="last">
</label><br><br>
<label>
<b>Email</b><br><br>
<input type="Email" name="email" maxlength="25" size="25" placeholder="Email" id="email">
</label><br><br>
<label>
<b>Password(6 or more characters)</b><br><br>
<input type="Password" name="pass" maxlength="25" size="25" id="pass" placeholder="Password">
</label><br><br>
<p><b>By clicking join now, you agree to Pharmeasy's <i>User Agreement</i></b></p><br><br>
<input type="submit" name="submit" value="Join Now" size="100" id="join">
<p>---------------------------or-------------------------</p>
<p><b>Already on Pharmeasy?</b><a href="#">Login</a></p>
</form>
</div>
<div class="div3">
<form method="post" action="home" name="form2" align="center" >
<h1>Login</h1><br><br>
<input type="Email" name="email" placeholder="Email" size="50" height="50" id="email"><br><br><br><br><br><br>
<input type="Password" name="password" size="50" height="50" placeholder="Password" id="password"><br><br><br><br><br><br>
<input type="checkbox" name="check"><b>Remember me</b><br><br><br><br><br>
<p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <b>Forget Password?</b> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <br><br><br><br><br><br><input type="submit" name="submit" value="login" id="log"> </p>
</form>
</div>
</div>
</body>
</html>