<!DOCTYPE html>
<html>
<head>
<title>Sign-Up Form</title>
<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
<div class="div1">
<h1 align="center"> Welcome to Pharmeasy</h1>
<div class="div2">
<form method="POST" name="form1" align="center" >
<h1>Sign-Up</h1>
<label>
<b>First Name</b><br><br>
<input type="text" name="first" maxlength="25" size="25" placeholder="First" id="first" required>
</label><br><br>
<label>
<b>Last Name</b><br><br>
<input type="text" name="last" maxlength="25" size="25" placeholder="Last" id="last" required>
</label><br><br>
<label>
<b>Email</b><br><br>
<input type="Email" name="email" maxlength="25" size="25" placeholder="Email" id="email" required>
</label><br><br>
<label>
<b>Password(6 or more characters)</b><br><br>
<input type="Password" name="pass" maxlength="25" size="25" id="pass" placeholder="Password" required>
</label><br><br>
<p><b>By clicking join now, you agree to Pharmeasy's <i>User Agreement</i></b></p><br><br>
<input type="submit" name="submit" value="Join Now" size="100" id="join">

</form>
</div>

</body>
</html>